Task 2:
Role: Part of a retail analytics team and is approached by the Category Manager for Chips. Asked to test the impact of new trial layouts to determine whether the layout should be rolled out to all stores.
Timeline: Trial Period is February 2019 - April 2019
1. Select Control Stores: Explore the data and define metrics for control store
- Think about what makes them a control store
- Look at the drivers and visualize these graphs
- Create a function
2. Assessments of the trial: Give insight for the store (Trial Stores are 77, 86, 88)
- Check each store in comparison with control store to get overall performence
- Define metrics to see if it is sucessful
3. Summarize findings
- Summarize findings for each store and provide a recommendation that outling the impact on sales during trial period
- Visualization are very important and save tem.

Pearson Correlations
- Each case are independent from each other
- Must be a linear relationship between variables (straight line), can be verified using scatterplot (rectangle shape)

Degrees of Correlation (Relationship between 2 quant variables)
- Perfect: Value near +- 1, meaning increasing one variable increase/decrease the other
- High Degree: Values between 0.5 to 1 suggests strong correlation
- Moderate Degree: Values between 0.3 and 0.49
- Low Degree: Values between 0.29
- No Correlation: Value = 0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Dataset/QVI_data.csv")
df

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream
...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream

In [18]:
df["DATE"] = pd.to_datetime(df["DATE"])
df["YEAR_MONTH"] = df["DATE"].dt.strftime("%Y-%m")
df

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,YEAR_MONTH
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium,2018-10
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream,2018-09
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget,2019-03
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget,2019-03
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream,2018-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream,2018-12
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium,2018-10
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget,2018-10
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget,2018-10
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream,2018-12

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264834 non-null  int64
 1   DATE              264834 non-null  datetime64[ns]
 2   STORE_NBR         264834 non-null  int64
 3   TXN_ID            264834 non-null  int64
 4   PROD_NBR          264834 non-null  int64
 5   PROD_NAME         264834 non-null  object
 6   PROD_QTY          264834 non-null  int64
 7   TOT_SALES         264834 non-null  float64
 8   PACK_SIZE         264834 non-null  int64
 9   BRAND             264834 non-null  object
 10  LIFESTAGE         264834 non-null  object
 11  PREMIUM_CUSTOMER  264834 non-null  object
 12  YEAR_MONTH        264834 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(6), object(5)
memory usage: 26.3+ MB

Monthly Sales Experience: (Group by Store, then year-month)
- Only consider stores that have sales every month over July 2018 and June 2019. Select the best control store for each trial store during its pre-trial period.
1. Total Sales Revenue
2. Total Number of Customers
3. Average number of transactions per customer

Total Sales Revenue

In [ ]:
df_potential_trial = df.copy()
df_potential_trial = df_potential_trial[df_potential_trial["DATE"].between("2018-07-01", "2019-06-30")]
df_potential_trial["DATE"].min()

Timestamp('2018-07-01 00:00:00')

In [35]:
df_potential_trial["DATE"].max()

Timestamp('2019-06-30 00:00:00')

In [159]:
valid_stores = []
df_potential_trial_grouped = df_potential_trial.groupby("STORE_NBR")
store_count = df_potential_trial_grouped["YEAR_MONTH"].nunique()
for store_nbr, count in store_count.items():
    if count == 12:
        valid_stores.append(store_nbr)
valid_stores.pop(77)
valid_stores.pop(86)
valid_stores.pop(88)
print(len(valid_stores))

257

In [160]:
# Ready to use for all metric calculation
df_potential_trial_filtered = df_potential_trial[df_potential_trial["STORE_NBR"].isin(valid_stores)]
df_potential_trial_filtered["STORE_NBR"].nunique()

257

In [161]:
# Testing to see if there are any missing
filtered_stores = set(df_potential_trial_filtered["STORE_NBR"].unique())
valid_stores_set = set(valid_stores)
missing_store = valid_stores_set - filtered_stores
print(missing_store)

set()

In [162]:
tot_sales_per_store = df_potential_trial_filtered.groupby(["STORE_NBR", "YEAR_MONTH"])["TOT_SALES"].sum()
tot_sales_per_store

STORE_NBR  YEAR_MONTH
1          2018-07       206.9
           2018-08       176.1
           2018-09       278.8
           2018-10       188.1
           2018-11       192.6
                         ...
272        2019-02       395.5
           2019-03       442.3
           2019-04       445.1
           2019-05       314.6
           2019-06       312.1
Name: TOT_SALES, Length: 3084, dtype: float64

In [163]:
unique_customers_per_store = df_potential_trial_filtered.groupby(["STORE_NBR", "YEAR_MONTH"])["LYLTY_CARD_NBR"].nunique()
unique_customers_per_store

STORE_NBR  YEAR_MONTH
1          2018-07       49
           2018-08       42
           2018-09       59
           2018-10       44
           2018-11       46
                         ..
272        2019-02       45
           2019-03       50
           2019-04       54
           2019-05       34
           2019-06       34
Name: LYLTY_CARD_NBR, Length: 3084, dtype: int64

In [164]:
total_transactions_per_store = df_potential_trial_filtered.groupby(["STORE_NBR", "YEAR_MONTH"])["TXN_ID"].count()
total_transactions_per_store

STORE_NBR  YEAR_MONTH
1          2018-07       52
           2018-08       43
           2018-09       62
           2018-10       45
           2018-11       47
                         ..
272        2019-02       48
           2019-03       53
           2019-04       56
           2019-05       40
           2019-06       37
Name: TXN_ID, Length: 3084, dtype: int64

In [165]:
average_trans_per_store = round(total_transactions_per_store/unique_customers_per_store,2)
average_trans_per_store

STORE_NBR  YEAR_MONTH
1          2018-07       1.06
           2018-08       1.02
           2018-09       1.05
           2018-10       1.02
           2018-11       1.02
                         ...
272        2019-02       1.07
           2019-03       1.06
           2019-04       1.04
           2019-05       1.18
           2019-06       1.09
Length: 3084, dtype: float64

In [167]:
metrics_df = pd.DataFrame({
    'TOT_SALES': tot_sales_per_store,
    'UNIQUE_CUSTOMERS': unique_customers_per_store,
    'TOTAL_TXNS': total_transactions_per_store,
    'AVG_TXNS_PER_CUST': average_trans_per_store
})
metrics_df

                      TOT_SALES  UNIQUE_CUSTOMERS  TOTAL_TXNS  \
STORE_NBR YEAR_MONTH
1         2018-07         206.9                49          52
          2018-08         176.1                42          43
          2018-09         278.8                59          62
          2018-10         188.1                44          45
          2018-11         192.6                46          47
...                         ...               ...         ...
272       2019-02         395.5                45          48
          2019-03         442.3                50          53
          2019-04         445.1                54          56
          2019-05         314.6                34          40
          2019-06         312.1                34          37

                      AVG_TXNS_PER_CUST
STORE_NBR YEAR_MONTH
1         2018-07                  1.06
          2018-08                  1.02
          2018-09                  1.05
          2018-10                  1.02
          2018-11                  1.02
...                                 ...
272       2019-02                  1.07
          2019-03                  1.06
          2019-04                  1.04
          2019-05                  1.18
          2019-06                  1.09

[3084 rows x 4 columns]